<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout - Ecommerce</title>
    <link rel="stylesheet" href="style_checkout.css" />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='Pasta_css/style_checkout.css') }}"
    />
    <!-- FONTE PADRÃO DO SITE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="navbar">
      <div class="logo">Ecommerce</div>

      <nav class="menu">
        <a href="/produtos">Loja</a>
        <a href="#">Sobre</a>
        <a href="#">Pesquisar</a>
      </nav>

      <div class="icons">
        <span class="heart">❤</span>
        <span class="cart">2</span>
        <a href="#">Login</a>
      </div>
    </header>

    <main class="checkout">
      <section class="form-section">
        <h1>Checkout</h1>
        <div class="steps">
          <strong>Endereço</strong> <span>——</span> Envio
          <span>——</span> Pagamento
        </div>

        <h3>Informações de envio</h3>
        <form>
          <div class="row">
            <input type="text" placeholder="Primeiro Nome" />
            <input type="text" placeholder="Segundo Nome" />
          </div>
          <div class="row">
            <input type="text" name="cep" placeholder="CEP" />
            <select name="estado">
              <option value="">Selecione um estado</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
            <input type="text" name="bairro" placeholder="Bairro" />
          </div>
          <input type="text" name="logradouro" placeholder="Rua" />
          <input type="text" name="endereco" placeholder="Endereço" />
          <input type="text" placeholder="Apartamento, suite, etc (opcional)" />
          <input type="text" placeholder="Opcional" />
          <label>
            <input type="checkbox" /> Salvar informações de contato
          </label>
          <!-- <a href="index(Entrega).html" class="botao-continuar"
            >Continuar para envio</a
          > -->
        </form>
      </section>

      {% if pedidos %}
      <aside class="cart-section">
        <h3>Seu produto</h3>
        {% for i in pedidos %}
        <input type="text" placeholder="Insira o código do cupom aqui" />
        <div class="summary">
          <p>Pedido <span>{{i.id}}</span></p>
          <p>Nome <span>{{i.nome}}</span></p>
          <p>
            <strong>Total</strong>
            <span><strong>{{ i.total }}</strong></span>
          </p>
          <form action="/carrinho/remover/{{i.id}}" method="post">
            <button type="submit">remover o pedido</button>
          </form>
        </div>
        {% endfor %}
        <p>Subtotal <span>R$ {{ total_geral }}</span></p>
      </aside>
      {% endif %}
    </main>
    <script src="{{ url_for('static', path='js/carrinho.js') }}"></script>
  </body>
</html>
