<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1 >Lista de Produtos</h1>
    <ul>
        {%for i in produtos%}
        <li>
            {%if imagem%}
            <br>
            {%else%}
                <img src="/View/templates/img/{{i.imagem}}" alt="Sem foto" width="80">
            {%endif%}
            <a href="/produtos/{{i.id}}">{{i.nome}} </a> -{{i.preco}} 
        </li>
        {%endfor%}
    </ul>
</body>
</html>