<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <div class="login-container">
        <div class="background-image"></div>
            <div class="login-box">
            <h2>Bem-vindo</h2>
            <p>Entre em sua conta</p>
            <button class="social-login fb"><i class="fab fa-facebook-f"></i> 
                <span>Continue com o Facebook</span>
            </button>
            <button class="social-login google"><i class="fab fa-google"></i> 
                <span>Continue com o Google</span>
            </button>
            <button class="social-login email"><i class="fas fa-envelope"></i>
                <span>Continue com o Email</span>
            </button>
    
                <form>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Senha" required>
                    <button type="submit">Entrar</button>
                </form>
                <p><a href="#">Esqueceu a senha?</a></p>
                <p><a href="#">Criar uma Conta</a></p>
            </div>
        </div>
</body>
</html>
